.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

  .main{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 70px 75px 1fr ;
    width: 100%;
  }
  .zaglavlje{
    grid-row: 1;
    grid-column: 1/span2; 
    text-align: center;
    width: 100%;
    height: 16.6%;
}
  .mainNav{
    text-align: center;
    width: 100%;
    height: 16.6%;
    grid-row: 2;
    grid-column: 2;
    column-gap: 10px;

  }
  .meni{
    position: static;
    grid-row: 2/span3;
    grid-column: 1;
  }
  .mainContent{
    grid-row: 3;
    grid-column: 2/span2;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: inline;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  /*.ostalo{
    border: 2px solid black;
    width: 5cm;
    height: 5cm;
    margin: 1cm;
  }*/
  .card{
    border: 2px solid black;
    width: 5cm;
    height: 5cm;
    margin: 1cm;
  }


